div.hdrWrap>div.header{
  width: 90%;
  max-width: 380px;
  line-height: 40px;
}
div.hdrWrap>div.header>div.hdrLeft{
  width: 50%;
}
div.hdrWrap>div.header>div.hdrLeft>h1{
  width: calc(100% / 2 - 20px);
  font-size: 25px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.member>li{
  font-size: 12px;
  margin-left: 10px;
}
div.hdrWrap>div.header>div.hdrRight{
  width: 50%;
}
div.hdrWrap>div.header>div.hdrRight>div.search{
  width: 50px;
}
div.hdrWrap>div.header>div.hdrRight>div.search>label{
  margin-left: 0px;
}
div.hdrWrap>div.header>div.hdrRight>div.search>i{
  font-size: 18px;
  line-height: 40px;
}
div.hdrWrap>div.header>div.hdrRight>div.search i.xi-bars{
  font-size: 18px;
  line-height: 40px;
  width: 18px;
  margin-left: 10px;
}


div.cntWrap:nth-child(4){
  margin-top: 40px;
}
div.cntWrap{
  margin-top: 100px;
}
div.cntWrap>div.content{
  width: 90%;
  max-width: 380px;
}
div.cntWrap>div.content>div.header>h2{
  line-height: 40px;
  font-size: 20px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
  text-align: left;
  margin-top: 0px;
  margin-left: 10px;
}
div.cntWrap>div.content.cnt01>div.header{
  margin-left: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article{
  width: calc(100% / 3);
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image{
  height: 210px;
}
div.cntWrap>div.content.cnt01>div.section>div.btn{
  font-size: 80px;
  height: 80px;
  line-height: 80px;
  width: calc(100% / 4 * 1);
  top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.btns{
  height: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.left{
  font-size: 20px;
  width: 20px;
  line-height: 40px;
  background-color: #41734d;
  opacity: 0.5;
  color: #fff;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.right{
  font-size: 20px;
  width: 20px;
  line-height: 40px;
  background-color: #41734d;
  opacity: 0.5;
  color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.onPlay{
  top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.onPlay>div.image{
  height: 210px;
}
div.cntWrap>div.content.cnt02>div.section>div.onPlay>div.btn{
  width: 80px;
  height: 80px;
  font-size: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.onPlay>div.close{
  font-size: 30px;
  width: 30px;
  height: 30px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image{
  height: 120px;
}
div.cntWrap>div.content.cnt02>div.section>ul.btn{
  height: 20px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>ul.btn>li{
  width: 5px;
  height: 5px;
}
div.cntWrap>div.content.cnt02>div.header>h2::before{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article{
  margin-top: 20px;
}
div.ftrWrap{
  margin-top: 100px;
}
div.ftrWrap>div.footer{
  width: 90%;
  max-width: 380px;
  padding: 10px 0px;
}
div.ftrWrap>div.footer>h1{
  font-size: 15px;
  line-height: 40px;
}
div.ftrWrap>div.footer>p{
  font-size: 10px;
  line-height: 15px;
  height: 30px;
}
div.ftrWrap>div.footer>div.sns{
  line-height: 40px;
  font-size: 12px;
}
div.ftrWrap>div.footer>div.sns>i{
  line-height: 40px;
  font-size: 15px;
}